
.main {
     background-color: #f6f6f6;
     width: 100%;
     padding-top: 20px; 
     position: relative;
     border-radius: 40px 40px 0px 0px;
     margin-top: -35px;
}


  /**The Menu Full Pallette title**/
.menu {
    width: 90%;
    margin: auto;

    &__title {
        padding-top: 18px;
        padding-bottom: 0px;
        @include row;   
        justify-content: space-between;   

         /**not working**/
        
        h2 {
            font-family: $font-title;           
            font-weight: map-get($font-weights, bold);
               
        }

     }

     &__underline {
     border: 1px solid #99E2D0;
     margin-bottom: 15px;
     width: 35px;
     }


     &__underline:hover:after {
        width: 100%;
        transition: all .5s;
     }

 

    &-tab {
        background-color: white;
        width: 100%;
        border-radius: 15px;
        margin-bottom: 15px;    
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        animation: fading 1s ease-in-out forwards;
        animation-fill-mode: backwards;

     



                          
        &:hover &-tick {
            transform: translateX(0);
            width: 20%;
           
        }  

        &:hover &-tick i {
            animation: rotate .9s forwards;
        }


        &:hover &-text {
           width: 70%;
        }  
          
    
        &-text {
            width: 90%;
            padding: 10px 20px;
             /**elipsis**/
            position: relative;
            width: 80%; 
        }

        /**ellipsis**/
        & p {     
            
            overflow: hidden;     
            white-space: nowrap;    
            text-overflow: ellipsis;
        }


        
        &-price {
            width: 10%;
            position: relative;

            & h4 {
                position:absolute;
                bottom: 10px;
            }
        }
        
        &-tick {
            background: $tertiary;
            @include center;
            width: 0%;
            transform: translateX(100%);            
            @include pointsix;

             /**ellipsis**/
             cursor: pointer;
                      

            & i {
                color: white;               
                
            }
        }

    }



     
    &__button {
        @include column;
        align-items: center;
        width: 100%;
        row-gap: 20px;
        padding: 40px 0;
        background-color:  #F8F8F8;  
    
    }

    &__order-btn {
        background-color: #FF79DA;
        border-radius: 25px;
        width: 180px;
        height: 40px;
        border: none;
        font-size: 14px;
        color: #eeeeee;
        background-image: linear-gradient(#FF79DA , #9356DC);   
        cursor: pointer;
        /*not working*/
        font-family: $font-title; 
        

    }





}



      /**loop structure**/
     @for $i from 1 through 99  {
            .fade-in--#{$i}{
           animation-delay: 100ms*$i;
           }
    }

