@include desktop {

 
    .filter-search {
        width: 90%;
        @include row;
        justify-content: center;
        gap: 42px;
      

        &__chose {            
            height: 80px; 
            width: 300px;
         
                                 
        }

        & h2 {         
            padding-top: 20px;    
             
        }

                    
    }


    .restaurant {             
        @include row;              
        flex-wrap: wrap;
        justify-content: space-around;
        align-content:space-around;
        gap: 40px;  
        padding: 40px 200px;
     
       
        .card {
            width: 35%;
         }


       h2 {
        width: 85%;
       }
         
    }

}

